<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/38bcb2e0-88ab-4804-8df4-f4dde9873687/resourcegroups/token/providers/Microsoft.Web/sites/JWTTokenAPI20240112232632</ResourceId>
    <ResourceGroup>token</ResourceGroup>
    <ApiResourceId>/subscriptions/38bcb2e0-88ab-4804-8df4-f4dde9873687/resourceGroups/token/providers/Microsoft.ApiManagement/service/JWTTokenAPIapi/apis/JWTTokenAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jwttokenapi20240112232632.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0ff8a7ce-0436-4490-80d9-590d2ea7849a</ProjectGuid>
    <MSDeployServiceURL>jwttokenapi20240112232632.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JWTTokenAPI20240112232632</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$JWTTokenAPI20240112232632</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>